<nav class="nav-menu">
    <NavLink href="/" Match="NavLinkMatch.All"><span class="nav-icon">D</span> Dashboard</NavLink>
    <AuthorizeView Roles="@PortalRoles.Admin">
        <NavLink href="/applications"><span class="nav-icon">A</span> Applications</NavLink>
        <NavLink href="/merchant-directory"><span class="nav-icon">M</span> Merchant Directory</NavLink>
        <NavLink href="/activity"><span class="nav-icon">L</span> Activity</NavLink>
    </AuthorizeView>
    <AuthorizeView Roles="@PortalRoles.Merchant">
        <NavLink href="/notifications"><span class="nav-icon">N</span> Notifications</NavLink>
        <NavLink href="/merchant/profile"><span class="nav-icon">P</span> Merchant Profile</NavLink>
        <NavLink href="/kyc"><span class="nav-icon">K</span> KYC Verification</NavLink>
        <NavLink href="/api-credentials"><span class="nav-icon">C</span> API Credentials</NavLink>
    </AuthorizeView>
</nav>
